@import "tailwindcss";

/* @import "../styles/tokens.css"; */

:root {
  --background: #ffffff;
  --foreground: #000000;

  --primary: #000000;

  --muted: #ebebeb;
  --border: #e2e8f0;

  --white: #ffffff;
}

@theme {
  --color-secondary-start: #aa7c06;
  --color-secondary-end: #eab308;

  --color-background: #ffffff;
  --color-foreground: #000000;

  --color-primary: #000000;

  --color-muted: #f1f5f9;
  --color-border: #e2e8f0;

  --color-white: #ffffff;

  /* Custom scrollbar */
  --scrollbar-track: #f1f1f1;
  --scrollbar-thumb: #c1c1c1;
  --scrollbar-thumb-hover: #a8a8a8;
}

/* Custom scrollbar for Webkit browsers (Chrome, Safari, etc.) */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-track);
  border-radius: 3px;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover);
}

/* Custom scrollbar for Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
}



input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

@layer components {
  .rental-heading-primary {
    @apply text-2xl leading-tight font-bold text-[#111111] md:text-3xl md:leading-snug;
  }
}

/* Hide scrollbar for Select Location Component */
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
