@import "tailwindcss";

/* @import "../styles/tokens.css"; */

:root {
  --background: #ffffff;
  --foreground: #000000;

  --primary: #000000;

  --muted: #EBEBEB;
  --border: #e2e8f0;

  --white: #ffffff;

}

@theme {
  --color-secondary-start: #AA7C06;
  --color-secondary-end: #EAB308;

  --color-background: #ffffff;
  --color-foreground: #000000;

  --color-primary: #000000;

  --color-muted: #f1f5f9;
  --color-border: #e2e8f0;

  --color-white: #ffffff;

}