@import "tailwindcss";

/* @import "../styles/tokens.css"; */

:root {
  --background: #ffffff;
  --foreground: #000000;

  --primary: #000000;

  --muted: #ebebeb;
  --border: #e2e8f0;

  --white: #ffffff;
}

@theme {
  --color-secondary-start: #aa7c06;
  --color-secondary-end: #eab308;

  --color-background: #ffffff;
  --color-foreground: #000000;

  --color-primary: #000000;

  --color-muted: #f1f5f9;
  --color-border: #e2e8f0;

  --color-white: #ffffff;

  --color-button-text: #000000;
  --color-button-bg: #ffffff;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

@layer components {
  .rental-heading-primary {
    @apply text-2xl leading-tight font-bold text-[#111111] md:text-3xl md:leading-snug;
  }
}
